<div>
       
    <!--div class="col-md-12 main">
        <div class="row" style="background-color: rgb(195, 236, 10)">hello there</div>
        <div class="row h-50">
            <div class="col-md-9" style="background-color: rgb(51, 51, 51)">graphs</div>
            <div class="col-md-3" style="background-color: rgb(235, 5, 5)">info</div>
        </div>
    </div-->
    <div class="grid-wrapper">
        <div class="grid-header">
            <p>{{Gourl}}</p>
        </div>
        <div class="grid-content-right">
            <h3>gp graphs</h3>
            <p>{{Pymsg}}</p>
        </div>
        <div class="grid-content-left">
            <h2><u>info</u></h2>
            <p>{{Pyurl}}</p>
        </div>
    </div>
    <!--div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="pattern-type">
            Gradual Patterns
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-value="Gradual">Gradual</a>
            <a class="dropdown-item" data-value="Emerging">Emerging</a>
          </div>
        </div>
        <input type="text" class="form-control" id="select-directory" placeholder="click to select file ...">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="upload-file">Upload</button>
        </div>
    </div-->
</div>