* {box-sizing: border-box;}

.loading {
  /*border:1px solid #ddd;*/
  padding:5px;
  margin:5px;
  background-color: transparent;
  font-size: 20px;
  /*width:80px;*/
}

.viewPatterns {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.allowDownload {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.grid-wrapper {
  width: 100%;
  height: 84vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2rem;
  border-radius: 5px;
}

.grid-header {
  grid-column: 1 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  border: 1px;
  border-radius: 5px;
  padding: 1rem;
}

.grid-content-right {
  grid-column: 1 / 4;
  grid-row: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  padding: 1rem;
}

.grid-content-left {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #73879C;
}
